[submodule "lisa/lisa/generic"]
	path = lisa/lisa/generic
	url = http://github.com/rockwolf/python_generic.git
[submodule "emma/emma/generic"]
	path = emma/emma/generic
	url = http://github.com/rockwolf/python_generic.git
