### This is the main configuration file for the clipf2db python program.
### Please keep everything in this file intact and change only the options
### that need to be changed.

[database]
host = 'testdb'
name = 'finance'
user = 'rockwolf'
password = ''

[data]
importdir= 'import'
exportdir = 'export'
# tax value in %
default_tax = '0.25'
# risk value in %
default_risk = '2'
# default currency
# uses the index from T_CURRENCY
default_currency = '1'
# default exchange rate
default_exchange_rate = '1'
# default account
default_account = '1'

[logging]
# Set this to 1 if you want to use logging 
log = 0
# logfile
logfile = 'log/lisa.log'
