### This is the main configuration file for lisa.
### Please keep everything in this file intact and change only the options
### that need to be changed.
### Other important configuration parameters can be set in the parameter
### section of the application.

[database]
host = 'testdb'
name = 'finance'
user = 'rockwolf'
password = ''
